In [14]:
import pandas as pd

df = pd.read_csv("data/processed/BTC_finaldb.csv")


print(len(df))
df.iloc[:, 8:].tail(10)
print(df[['bitcoin_unscaled', 'bitcoin_monthly', 'Close',  'date']].head(200))

2291
     bitcoin_unscaled  bitcoin_monthly       Close        date
0                  57              8.0    0.000000  2014-01-02
1                  55              8.0    0.000000  2014-01-03
2                  59              8.0    0.000000  2014-01-06
3                  53              8.0    0.000000  2014-01-07
4                  65              8.0    0.000000  2014-01-08
..                ...              ...         ...         ...
195                54              3.0  362.299011  2014-10-10
196                43              3.0  400.869995  2014-10-13
197                69              3.0  394.773010  2014-10-14
198                99              3.0  382.556000  2014-10-15
199                64              3.0  383.757996  2014-10-16

[200 rows x 4 columns]

In [34]:
dfp = pd.read_csv("data/processed/BTC_clean.csv")
dfp = dfp.where(dfp.date == '2017-08-17')
dfp.dropna()

,Unnamed: 0,date,tweet_count,daily_sent,elonmusk,michael_saylor,binance,peterlbrandt,apompliano,cashapp,investingcom,coinmarketcap,raoulgmi,charliebilello
1334,2017-08-17,2017-08-17,5.0,0.09582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0