In [5]:
import pandas as pd

df = pd.read_csv("data/processed/BTC_finaldb.csv")


print(len(df))
df.head(10)

2107

,Date,High,Low,Open,Close,Volume,Adj Close,date,tweet_count,daily_sent,...,cashapp,MA_10,ADX_2_7,RSI_10,MACD_5_10,MACDsign_5_10,MACDdiff_5_10,Mass Index,vix,gvz
0,2014-09-16,468.174011,452.421997,465.864014,457.334015,21056800.0,457.334015,2014-09-16,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,12.73,16.580000
1,2014-09-17,456.859985,413.104004,456.859985,424.440002,34483200.0,424.440002,2014-09-17,1.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,12.65,17.139999
2,2014-09-18,427.834991,384.532013,424.102997,394.795990,37919700.0,394.795990,2014-09-18,2.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,12.03,15.500000
3,2014-09-19,423.295990,389.882996,394.673004,408.903992,36863600.0,408.903992,2014-09-19,1.0,-0.226300,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,12.11,16.900000
4,2014-09-22,441.557007,396.196991,402.092010,435.790985,45099500.0,435.790985,2014-09-22,3.0,0.166433,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,13.69,16.440001
5,2014-09-23,436.112000,421.131989,435.751007,423.204987,30627700.0,423.204987,2014-09-23,1.0,0.000000,...,0.0,0.000000,0.846273,0.000000,0.000000,0.0,0.0,0.0,14.93,16.650000
6,2014-09-24,423.519989,409.467987,423.156006,411.574005,26814400.0,411.574005,2014-09-24,3.0,0.195300,...,0.0,0.000000,0.840317,0.000000,0.000000,0.0,0.0,0.0,13.27,17.209999
7,2014-09-25,414.937988,400.009003,411.428986,404.424988,21460800.0,404.424988,2014-09-25,1.0,0.077200,...,0.0,416.144199,0.852735,0.358771,-1.416730,0.0,0.0,0.0,15.64,17.990000
8,2014-09-26,406.622986,397.372009,403.556000,399.519989,15029300.0,399.519989,2014-09-26,0.0,0.000000,...,0.0,410.362796,0.888792,0.338161,-2.825932,0.0,0.0,0.0,14.85,17.840000
9,2014-09-29,390.976990,373.442993,376.088013,386.944000,34707300.0,386.944000,2014-09-29,0.0,0.000000,...,0.0,401.507999,0.636426,0.296985,-7.126691,0.0,0.0,0.0,15.98,17.170000

In [34]:
dfp = pd.read_csv("data/processed/BTC_clean.csv")
dfp = dfp.where(dfp.date == '2017-08-17')
dfp.dropna()

,Unnamed: 0,date,tweet_count,daily_sent,elonmusk,michael_saylor,binance,peterlbrandt,apompliano,cashapp,investingcom,coinmarketcap,raoulgmi,charliebilello
1334,2017-08-17,2017-08-17,5.0,0.09582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0